body {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 150px) 1fr;
  grid-template-rows: repeat(6, 150px) 1fr;
}
