.grid-item {
  // width: 150px;
  // height: 150px;

  &--1 {
    background-image: url('../../assets/imgs/pattern1.6.png');
    grid-area: 1 / 2 / 1 / 2;
  }

  &--2 {
    background-image: url('../../assets/imgs/pattern1.5.png');
    grid-area: 1 / 2 / 2 / 3;

  }

  &--3 {
    background-image: url('../../assets/imgs/pattern1.4.png');
    grid-area: 1 / 2 / 3 / 4;

  }

  &--4 {
    background-image: url('../../assets/imgs/pattern1.3.png');
    grid-area: 1 / 2 / 4 / 5;

  }

  &--5 {
    background-image: url('../../assets/imgs/pattern1.2.png');
    grid-area: 1 / 2 / 5 / 6;

  }

  &--6 {
    background-image: url('../../assets/imgs/pattern1.1.png');
    grid-area: 1 / 2 / 6 / 7;

  }

  &--7 {
    background-image: url('../../assets/imgs/pattern1.png');
    grid-area: 1 / 2 / 7 ;

  }

  &--8 {
    background-image: url('../../assets/imgs/pattern1.5.png');
    grid-area: 2 / 3 / 1 / 2;
  }

  &--9 {
    background-image: url('../../assets/imgs/pattern1.4.png');
    grid-area: 2 / 3 / 2 / 3;

  }

  &--10 {
    background-image: url('../../assets/imgs/pattern1.3.png');
    grid-area: 2 / 3 / 3 / 4;

  }

  &--11 {
    background-image: url('../../assets/imgs/pattern1.2.png');
    grid-area: 2 / 3 / 4 / 5;

  }

  &--12 {
    background-image: url('../../assets/imgs/pattern1.1.png');
    grid-area: 2 / 3 / 5 / 6;

  }

  &--13 {
    background-image: url('../../assets/imgs/pattern1.png');
    grid-area: 2 / 3 / 6 / 7;

  }

  &--14 {
    background-image: url('../../assets/imgs/pattern1.png');
    grid-area: 2 / 3 / 7 ;

  }

  &--15 {
    background-image: url('../../assets/imgs/pattern1.4.png');
    grid-area: 3 / 4 / 1 / 2;
  }

  &--16 {
    background-image: url('../../assets/imgs/pattern1.3.png');
    grid-area: 3 / 4 / 2 / 3;

  }

  &--17 {
    background-image: url('../../assets/imgs/pattern1.2.png');
    grid-area: 3 / 4 / 3 / 4;

  }

  &--18 {
    background-image: url('../../assets/imgs/pattern1.1.png');
    grid-area: 3 / 4 / 4 / 5;

  }

  &--19 {
    background-image: url('../../assets/imgs/pattern1.png');
    grid-area: 3 / 4 / 5 / 6;

  }

  &--20 {
    background-image: url('../../assets/imgs/pattern1.png');
    grid-area: 3 / 4 / 6 / 7;

  }

  &--21 {
    background-image: url('../../assets/imgs/pattern1.png');
    grid-area: 3 / 4 / 7 ;

  }

  &--8 {
    background-image: url('../../assets/imgs/pattern1.5.png');
    grid-area: 2 / 3 / 1 / 2;
  }

  &--9 {
    background-image: url('../../assets/imgs/pattern1.4.png');
    grid-area: 2 / 3 / 2 / 3;

  }

  &--10 {
    background-image: url('../../assets/imgs/pattern1.3.png');
    grid-area: 2 / 3 / 3 / 4;

  }

  &--11 {
    background-image: url('../../assets/imgs/pattern1.2.png');
    grid-area: 2 / 3 / 4 / 5;

  }

  &--12 {
    background-image: url('../../assets/imgs/pattern1.1.png');
    grid-area: 2 / 3 / 5 / 6;

  }

  &--13 {
    background-image: url('../../assets/imgs/pattern1.png');
    grid-area: 2 / 3 / 6 / 7;

  }

  &--14 {
    background-image: url('../../assets/imgs/pattern1.png');
    grid-area: 2 / 3 / 7 ;

  }

}
